td {
  width: 100px;
  height: 100px;
}

/* Every child of TD that is of an even number will be black */
td:nth-child(even) {
  background-color: black;
}

/* Since we need the white and black to be alternating, We need every even child of TD that is an even child of TR to be white
to create an alternating black & white effect instead of just black pillars */
tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}
